.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo-container {
  margin-top: 10px;
  margin-left: 10px;
}

.logo {
  width: 400px;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:first-child {
  margin-left: 10; /* 첫 번째 메뉴 항목은 간격이 없도록 설정 */
}

.menu-item {
  list-style: none;
  cursor: pointer;
  font-size: 48px;
  margin-left: 100px; /* 간격 100px로 설정 */
  text-decoration: none; /* 초기에는 밑줄 없음 */
  text-underline-offset: 10px; /* 밑줄과 텍스트 간격 설정 */
  transition: text-decoration 0.4s ease-in-out; /* 부드러운 효과 설정 */
  color: black; /* 텍스트 색상을 검정으로 설정 */
  position: relative;
  overflow: hidden; /* 밑줄 효과를 나타내기 위해 overflow: hidden; 추가 */
}

.menu-item:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: gray; /* 밑줄 색상을 변경 */
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-10px);
}

.menu-item:hover:after,
.menu-item:focus:after {
  height: 5px;
  opacity: 1;
  transform: translateY(0px);
  text-decoration: underline; /* 밑줄이 사라지지 않도록 복원 */
}
