.container {
  position: relative;
  text-align: center;
}

.wall {
  width: 100%;
  margin-top: 30px;
  height: 800px;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 120px;
  text-align: left;
}

.form {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
}
